@import url(../assets/headers.css);

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

input{
    height: 25px;
    width: 45%;   
    box-sizing: border-box;
    border: 1px solid #999;
}

input[type=checkbox], input[type=radio] {
    width: auto;
    border: none;
}

button {
    background-color: bisque;
    width: 100px;
    height: 30px;
    border-radius: 5%;
    margin: 20px 0 0 134px;
}

section input  {
    
    height: 50px;
}