
*,
html {
  margin: 0;
  padding: 0;
}
header {
  background-position: center;
  text-align: center;

  height: 100%;
  border: 1px solid red;
  background-image: linear-gradient(359.8deg, rgba(252, 255, 222, 1) 2.2%, rgb(136, 201, 116) 99.3%);
}

img{
  border-radius: 25%;
  position: relative;
 
}

.menu-vertical {
position: fixed;
width: 200px;
height: 100svh;
}

.menu-vertical a {
background-color: #eee;
color: black;
display: block;
padding: 1em;
text-decoration: none;
}

.menu-vertical a:hover {
background-color: #ccc;
}

.menu-vertical a.active {
background-color: #04aa6d;
color: white;
}
main {
  margin-left: 350px;
  min-height: 100vh;
  background-color: rgb(217, 246, 223) ;
  text-align: center;
}

table {
table-layout: fixed;
width: 100%;
border-collapse: collapse;
border: 3px solid rgb(108, 233, 92);
}
table tr td {
width: 10%;
white-space: nowrap;
}

th,
td {
padding: 10px;
}



