@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap");
@import url(./headers.css);
*,
html {
  margin: 0;
  padding: 0;
}

body {
  display:grid;
  flex-direction: wrap;
  flex-direction: column;
  position: relative ;
  height: 100svh;
  box-sizing: border-box;
}

main {
  height: 60svh;
  position: static;
  border: 1px solid rgb(0, 24, 238);

}

footer {
  height: 20svh;
  position: static;
  border: 1px solid brown;
}

h1 {
  font-family: 'Pacifico', cursive;
  size: 130px;
  color: rgb(20, 119, 106);
}

h2 {
  font-family: 'Pacifico', cursive;
  size: 30px;
  color: rgb(76, 23, 146);
}

h3 {
  font-family: 'Pacifico', cursive;
  size: 30px;
  color: rgb(128, 52, 2);
}


h4 {
  font-family: 'Courier New', Courier, monospace;
  size: 20;
  color: gray;

}

.container {
  display: flex;
  background-color: hsl(63, 64%, 89%);
  padding: 20px;
  padding-left: 20%;
  gap: 2rem;

}
